doctype html(lang='en')
head
    title About
    |     
    meta(name='keywords', content='Share secrets anonymously. Private anonymous')
    | &#x9;
    meta(name='description', content='the About page for himitsu website. share your secrets anonymously')
    | &#x9;
    meta(charset='utf-8')
    | &#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // stylesheet css
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    | &#x9;
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    | &#x9;
    link(rel='stylesheet', href='/stylesheets/nivo-lightbox.css')
    | &#x9;
    link(rel='stylesheet', href='/stylesheets/nivo_themes/default/default.css')
    | &#x9;
    link(rel='stylesheet', href='/stylesheets/templatemo-style.css')
    // google web font css
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    | &#x9;
    script(src='https://kit.fontawesome.com/3d3ae9b37d.js', crossorigin='anonymous')
    // FAVICON
    link(rel='icon', type='image/png', sizes='32x32', href='./images/favicon-32x32.png')
    | &#x9;
    link(rel='icon', type='image/png', sizes='16x16', href='./images/favicon-16x16.png')
  body
    // navigation
    .container
      .navbar.navbar-default.navbar-static-top(role='navigation')
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
            span.icon.icon-bar
            | &#x9;&#x9;&#x9;&#x9;
            span.icon.icon-bar
            | &#x9;&#x9;&#x9;&#x9;
            span.icon.icon-bar
          | &#x9;&#x9;&#x9;
          a.navbar-brand(href='#')
            img.img-responsive(style='width: 8rem;', src='images/himitsutext.png', alt='logo of himitsu')
        | &#x9;&#x9;
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') HOME
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='/signup') SIGNUP
            | &#x9;&#x9;&#x9;&#x9;
            li
              a.active(href='/about') ABOUT US
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='/release') RELEASE A SECRET
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='/contact') CONTACT
            
    // about header section
    #about-header
      .container
        .row
          .col-md-12.col-sm-12
    // team section
    #team
      .container
        .row
          .col-md-offset-2.col-md-8.col-sm-12
            h2 Meet the crew!
            |                 
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.
        |          
        |          
        .row.mt30
          .col-md-4.col-sm-4.col-xs-12
            .team-wrapper
              img.img-responsive(src='https://scontent.fybz2-2.fna.fbcdn.net/v/t1.0-9/s960x960/77255346_10159144692025968_256312309511618560_o.jpg?_nc_cat=103&_nc_ohc=1TY6loQ_M-oAX8rNti3&_nc_ht=scontent.fybz2-2.fna&_nc_tp=1002&oh=13088edbb2f9d194d48cabd152e44981&oe=5ED1C0C4', alt='team img')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 ROUS
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h4 Creative Director
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | leading the communication design, interactive design, and concept forward in any work assigned. For example, this responsibility is often seen in industries related to advertisement.
          | &#x9;&#x9;&#x9;
          .col-md-4.col-sm-4.col-xs-12
            .team-wrapper
              img.img-responsive(src='https://scontent.fybz2-1.fna.fbcdn.net/v/t1.0-9/230828_1951358259119_7455917_n.jpg?_nc_cat=108&_nc_ohc=KEIdD5rm6wcAX9ep2bE&_nc_ht=scontent.fybz2-1.fna&oh=cc1074a04ab5d36ab3f20c2cdd8947ae&oe=5E9D44AD', alt='team img')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 JAN MARIE
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h4 UX Designer
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Manipulates user behavior through usability, accessibility, and desirability provided in the interaction with a product.
          | &#x9;&#x9;&#x9;
          .col-md-4.col-sm-4.col-xs-12
            .team-wrapper
              img.img-responsive(src='https://scontent.fybz2-2.fna.fbcdn.net/v/t1.0-9/s960x960/51121248_2265398590172102_4768537270594568192_o.jpg?_nc_cat=102&_nc_ohc=dDhxR9uDZSEAX8NQg-6&_nc_ht=scontent.fybz2-2.fna&_nc_tp=1002&oh=bb30fc76ae4942afdcd03e7f7d238d0c&oe=5E96935C', alt='team img')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3 ANTON
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h4 Frontend Developer
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Converts data to a graphical interface, through the use of HTML, CSS, and JavaScript, so that users can view and interact with that data.
        |          
        |          
        .row.mt30
          .col-md-12.col-sm-12
            hr
          | &#x9;&#x9;&#x9;
          .col-md-6.col-sm-6
            h3 Roux Studios
            | &#x9;&#x9;&#x9;&#x9;
            p
              | something about how awesome this company is and some other stuff about our studio
            | &#x9;&#x9;&#x9;&#x9;
            p
              | Repeat of what i said on top.something about how awesome this company is and some other stuff about our studio
          | &#x9;&#x9;&#x9;
          .col-md-6.col-sm-6
            strong HTML5 &amp; CSS3
            | &#x9;&#x9;&#x9;&#x9;
            span.pull-right 100%
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .progress
              .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
            | &#x9;&#x9;&#x9;&#x9;
            strong BOOTSTRAP
            | &#x9;&#x9;&#x9;&#x9;
            span.pull-right 80%
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .progress
              .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
            | &#x9;&#x9;&#x9;&#x9;
            strong UX Design
            | &#x9;&#x9;&#x9;&#x9;
            span.pull-right 70%
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .progress
              .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width: 70%;')
    // footer section
    footer
      .container
        .row(style='position: relative;')
          .col-md-6.col-sm-6
            img.img-responsive(style='width: 30rem;', src='images/himitsutext.png', alt='logo')
          | &#x9;&#x9;&#x9;
          .col-md-6.col-sm-8
            div(style='margin: 5rem;')
              p
                | Roux Studio : something about how awesome this company is
                a(rel='nofollow', href='http://www.facebook.com/templatemo', target='_parent') Roux
                |  website.
                |                 something about how awesome this company is and some other stuff about our studio
              | &#x9;&#x9;&#x9;&#x9;
              p
                i.fa.fa-phone
                |  647-647-6476
              | &#x9;&#x9;&#x9;&#x9;
              p
                i.fa.fa-envelope-o
                |  rouxstudios@repistola.com
              |               
              p
                i.fa.fa-globe
                |  www.repistola.com
    // copyright section
    .copyright
      .container
        .row
          .col-md-6.col-sm-6
            p Copyright &copy; 2020 Roux Studios
    // javascript js
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    | &#x9;
    script(src='/javascripts/nivo-lightbox.min.js')
    script(src='/javascripts/custom.js')
