doctype html(lang='en')
head
    title Contact
    |     
    meta(name='keywords' content='Share secrets anonymously. Private anonymous')
    | &#x9;
    meta(name='description' content='the home page for himitsu website. share your secrets anonymously')
    | &#x9;
    meta(charset='utf-8')
    | &#x9;
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    | &#x9;
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // stylesheet css
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    | &#x9;
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    | &#x9;
    link(rel='stylesheet', href='/stylesheets/nivo-lightbox.css')
    | &#x9;
    link(rel='stylesheet', href='/stylesheets/nivo_themes/default/default.css')
    | &#x9;
    link(rel='stylesheet', href='/stylesheets/templatemo-style.css')
    // google web font css
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    | &#x9;
    script(src='https://kit.fontawesome.com/3d3ae9b37d.js' crossorigin='anonymous')
    // FAVICON
    link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon-32x32.png')
    | &#x9;
    link(rel='icon' type='image/png' sizes='16x16' href='./images/favicon-16x16.png')
body
    // navigation
    .container
        .navbar.navbar-default.navbar-static-top(role='navigation')
            .navbar-header
                button.navbar-toggle(data-toggle='collapse' data-target='.navbar-collapse')
                    span.icon.icon-bar
                    | &#x9;&#x9;&#x9;&#x9;
                    span.icon.icon-bar
                    | &#x9;&#x9;&#x9;&#x9;
                    span.icon.icon-bar
                | &#x9;&#x9;&#x9;
                a.navbar-brand(href='#')
                    img.img-responsive(style='width: 8rem;' src='images/himitsutext.png' alt='logo of himitsu')
            | &#x9;&#x9;
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/') HOME
                    | &#x9;&#x9;&#x9;&#x9;
                    li
                        a(href='/signup') SIGNUP
                    | &#x9;&#x9;&#x9;&#x9;
                    li
                        a(href='/about') ABOUT US
                    | &#x9;&#x9;&#x9;&#x9;
                    li
                        a(href='/release') RELEASE A SECRET
                    | &#x9;&#x9;&#x9;&#x9;
                    li
                        a.active(href='/contact') CONTACT
        // contact header section
        #contact-header
            .container
                .row
                    .col-md-12.col-sm-12
        // contact section
        #contact
            .container
                .row
                    .col-md-offset-2.col-md-8.col-sm-12
                        h2 Get in touch
                        |                 
                        p
                            | Contact us for any questions, concerns, High-Fives or anything at all. We are friendly
                    | &#x9;&#x9;&#x9;
                    .col-md-8.col-sm-8.mt30
                        form(action='#' method='post' role='form')
                            .col-md-6.col-sm-6
                                label(for='name') NAME
                                |                         
                                input#name.form-control(name='name' type='text')
                                |                       
                                label(for='email') EMAIL
                                |                         
                                input#email.form-control(name='email' type='email')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            .col-md-6.col-sm-6
                                label(for='message') MESSAGE
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                textarea#message.form-control(name='message' rows='6')
                            |                     
                            .col-md-6.col-sm-6
                                button.btn.btn-default(type='submit' name='submit') SEND
                    | &#x9;&#x9;&#x9;
                    .col-md-4.col-sm-4.address
                        div
                            h3 Email
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            p rouxstudios@repistola.com.com
                        | &#x9;&#x9;&#x9;&#x9;
                        div
                            h3 Phones
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            p 010-020-0340 | 090-080-0760
                    | &#x9;&#x9;&#x9;
                    .col-md-12.col-sm-12.mt20
                        h3 Location
                        | &#x9;&#x9;&#x9;&#x9;
                        .google_map.mt20
                            #map-canvas
        // footer section
        footer
            .container
                .row(style='position: relative;')
                    .col-md-6.col-sm-6
                        img.img-responsive(style='width: 30rem;' src='images/himitsutext.png' alt='logo')
                    | &#x9;&#x9;&#x9;
                    .col-md-6.col-sm-8
                        div(style='margin: 5rem;')
                            p
                                | Roux Studio : something about how awesome this company is
                                a(rel='nofollow' href='http://www.facebook.com/templatemo' target='_parent') Roux
                                |  website.
                                |                 something about how awesome this company is and some other stuff about our studio
                            | &#x9;&#x9;&#x9;&#x9;
                            p
                                i.fa.fa-phone
                                |  647-647-6476
                            | &#x9;&#x9;&#x9;&#x9;
                            p
                                i.fa.fa-envelope-o
                                |  rouxstudios@repistola.com
                            |               
                            p
                                i.fa.fa-globe
                                |  www.repistola.com
        // copyright section
        .copyright
            .container
                .row
                    .col-md-6.col-sm-6
                        p Copyright &copy; 2020 Roux Studios
        // javascript js
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    | &#x9;
    script(src='/javascripts/nivo-lightbox.min.js')
    script(src='/javascripts/custom.js')

